*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

html, body{
    background: rgb(72, 105, 117);
    margin: 0px;
}

.container{
    align-content: center;
    background: rgb(40, 82, 99);
    border: 2px solid rgb(21, 48, 67);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.showcase{
    width: 30%;
    background: rgb(40, 101, 125);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

h1{
    text-align: center;
    background-color: rgb(40, 82, 99);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    border: 3px solid black;
}

h3{
    padding-left: 5px;
}

img{
    width: 400px;
}

.links{
    background-color: rgb(40, 82, 99);;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    border: solid black 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.title{
    justify-content: center;
    display: flex;
}