*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body, html{
    background: lightblue;
    background: linear-gradient(to bottom, rgb(202, 152, 2), rgb(224, 101, 13));
    height: 100%;
    min-height: 100%;
}

.container{
    align-content: center;
    background: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.showcase{
    width: 30%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

h1{
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    border: 5px solid black;
}

img{
    width: 400px;
}

.links{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    border: solid black 1px;
}

.title{
    justify-content: center;
    display: flex;
}