*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

body, html{
    margin: 0px;
    padding: 0px;
    background-image: url(../assets/scutum_logo.png), url(../assets/shield_pickup.png);
    background-color: rgb(58, 70, 70);

}

.container
{
    background-color: rgb(40, 101, 125);
    padding: 10px;
    border-radius: 10px;
    border: solid black 5px;
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 40px;
}


figure{
    margin: auto;
    display: block;
    max-width: 100%;
    text-align: center;
}

img{
    max-width: 40%;
    height: auto;
    border: 1px solid gray;
}

h1{
    text-align: center;
    background-color:rgb(40, 101, 125);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    border: 5px solid black;  
}

div{
    justify-content: space-between;
    display: flex;
}

.photo{
    width: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid black;
}

.title{
    justify-content: center;
    display: flex;
}

.container_links
{
    background-color: rgb(40, 101, 125);
    padding: 10px;
    border-radius: 10px;
    border: solid black 5px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 600px;
}
