*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body, html{
    background-color: rgb(170, 217, 246);
    background: linear-gradient( to bottom, lightblue, rgb(172, 172, 255));
    height: 100%;
    min-height: 100%;
}

.container
{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: solid black 1px;
}


figure{
    margin: auto;
    display: block;
    max-width: 100%;
    text-align: center;
}

img{
    max-width: 40%;
    height: auto;
    border: 1px solid gray;
}

h1{
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    border: 5px solid black;  
}

div{
    justify-content: space-between;
    display: flex;
}

.photo{
    width: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid black;
}

.title{
    justify-content: center;
    display: flex;
}
