*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body{
    background: rgb(72, 105, 117);
}

.container{
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    border: solid black 2px;
}

.links{
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    font-weight: bold;
    margin: 0 auto;
    max-width: 600px;
}

hr{
    height: 2px;
    background-color: black;
}